@model IEnumerable<HajurkoCarRental.Controllers.CarHistoryModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Car Rental History</h1>



<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.CarModel)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.CarPhoto)
            </th>

            <th>
                @Html.DisplayNameFor(model=>model.NumOrders)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-row">

                <td>
                    @Html.DisplayFor(modelItem => item.CarModel)
                </td>

                <td>

                    <img src="@Url.Content("~/images/" + item.CarPhoto)" alt="Image" width="100" height="100" />

                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.NumOrders)
                </td>

            </tr>
        }
    </tbody>
</table>



