@model HajurkoCarRental.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyRent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyRent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>
        <dd class="col-sm-10">
            <img id="PreviewPhoto" src="~/images/@Model.PhotoUrl" alt="Logo Image"
                              width="125" height="125" />
        </dd>
        <form asp-controller="Offers" asp-action="AddOffer">
            <input type="hidden" name="carId" value="@Model.Id"/>
            @Html.DropDownList("SelectedOffer", (List<SelectListItem>)ViewData["OffersList"], "-- Select Offer --")
            <input type="hidden" name="selectedOfferId" id="selectedOfferId" value="" />
            <button type="submit" name="action" value="AddToOffer" class="btn btn-primary">Add to Offer</button>

        </form>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
        <script type="text/javascript">
        // Get the selected offer Id and set it as the value of the hidden input field
        $("#SelectedOffer").change(function() {
            $("#selectedOfferId").val($(this).val());
        });
    </script>
}
