@model IEnumerable<HajurkoCarRental.Models.Car>
<style>
    input[type="checkbox"] {
        display: inline-block;
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        border: none;
        clip: auto;
        overflow: visible;
        white-space: nowrap;
    }
</style>
@{
    ViewData["Title"] = "Index";
}


<h1>Manage Cars</h1>

<p style="display:flex; gap: 50px;">
    <a asp-action="Create">Create New</a>
    <a asp-controller="Cars" asp-action="CarHistory">View History</a>

</p>

<form id="filter-form">
    <div>
        <label>
            <input type="checkbox" name="status" value="Available">
            Available
        </label>
    </div>
    <div>
        <label>
            <input type="checkbox" name="status" value="Rented">
            Rented
        </label>
    </div>
    <button type="submit">Filter</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyRent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-row">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DailyRent)
            </td>
            <td class="car-status">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
               
                    <img src="@Url.Content("~/images/" + item.PhotoUrl)" alt="Image" width="100" height="100" />
                
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section scripts {
        <script type="text/javascript">
            const form = document.getElementById('filter-form');
            const rows = document.querySelectorAll('.table-row');


            // Add event listeners to each checkbox
            const checkboxes = form.querySelectorAll('input[type="checkbox"]');
            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('click', (event) => {
                    // Uncheck all other checkboxes
                    checkboxes.forEach(cb => {
                        if (cb !== checkbox) {
                            cb.checked = false;
                        }
                    });
                });
            });

            form.addEventListener('submit', (event) => {
                event.preventDefault();
                const statuses = Array.from(form.querySelectorAll('input[name="status"]:checked')).map(input => input.value);
                console.log(statuses[0])
                rows.forEach(row => {
                    const status = row.querySelector('.car-status').textContent.replace(/\s/g, '');
                    console.log(status)
                    if(status==statuses[0]){
                        row.style.display = 'table-row'
                    }
                    else{
                        row.style.display='none'
                    }
                });
            });
        </script>
}
