@model IEnumerable<HajurkoCarRental.Models.Car>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="main">
	<div class="inner">
		<h1>Fleet</h1>

		<div class="image main">
			<img src="~/images/banner-image-7-1920x500.jpg" class="img-fluid" alt="" />
		</div>

		<!-- Fleet -->
		<section class="tiles">
			@foreach (var item in Model)
			{

			<article class="style1">
				<span class="image">
						<img src="@Url.Content("~/images/" + item.PhotoUrl)" alt="Image" height="200" width="400" style="object-fit:cover"/>
				</span>
					<a  class="scrolly" asp-route-id="@item.Id" asp-controller="Cars" asp-action="CarDetails">
						<h2>@Html.DisplayFor(modelItem => item.Name)</h2>
						<h3>@Html.DisplayFor(modelItem => item.Model)</h3>

						<p>Rent: <strong> Rs  @Html.DisplayFor(modelItem => item.DailyRent)</strong> per day</p>

					
				</a>
			</article>
			}
			
		</section>
	</div>
</div>
