@model IEnumerable<HajurkoCarRental.Models.Sales>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Rental History</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.Order) Id
            </th>
            <th>
                Car @Html.DisplayNameFor(model => model.Car.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Order.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Order.ReturnDate)
            </th>
           <th>
                @Html.DisplayNameFor(model => model.RentalDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalCharges)
            </th>
            <th>
        </tr>
</thead>
<tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Order.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.Name) @Html.DisplayFor(mdoelItem => item.Car.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Order.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Order.ReturnDate)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.RentalDuration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentalCharges)
                </td>
                
                <td>
                    <a asp-controller="Damages" asp-action="Create" asp-route-id="@item.Car.Id">Report Damage</a>
                    <a asp-controller="Sales" asp-action="CancelBooking" asp-route-id="@item.OrderId">Cancel Order</a>

                   
                </td>
            </tr>
        }
</tbody>
</table>