@using HajurkoCarRental.Areas.Identity.Data;
@using HajurkoCarRental.Controllers;
@using Microsoft.AspNetCore.Identity;
@model HajurkoCarRental.Models.Order
@inject UserManager<HajurkoCarRentalUser> UserManager


@{
    ViewData["Title"] = "Details";
    TimeSpan rentalDuration = Model.ReturnDate - Model.OrderDate;
    int rentalDays = (int)rentalDuration.TotalDays;
    int rentalCharges;
    var UserRole = ViewData["UserRole"];
    if (ViewData["OfferModel"] != null)
    {
        var offerModel = (OffersViewModel)ViewData["OfferModel"];
         if ((string)UserRole=="Staff" || (string)UserRole=="Admin")
    {
            rentalCharges = (int)(rentalDays * (Model.Car.DailyRent - (Model.Car.DailyRent * (decimal)(offerModel.DiscountPercentage / 100M)) - (Model.Car.DailyRent * 0.2M)));
        }
    else if (UserRole=="RegularCustomer")
    {
            rentalCharges = (int)(rentalDays * (Model.Car.DailyRent - (Model.Car.DailyRent * (decimal)(offerModel.DiscountPercentage / 100M)) -(Model.Car.DailyRent * 0.1M)));
    }
    else
    {
            rentalCharges = (int)((rentalDays * Model.Car.DailyRent) - (Model.Car.DailyRent * (decimal)(offerModel.DiscountPercentage / 100M)));
        }
    }
    else
    {
        
    if (UserRole=="Staff" || UserRole=="Admin")
    {
        rentalCharges = (int)(rentalDays * (Model.Car.DailyRent - (Model.Car.DailyRent * 0.2)));
    }
    else if (UserRole=="RegularCustomer")
    {
        rentalCharges = (int)(rentalDays * (Model.Car.DailyRent - (Model.Car.DailyRent * 0.1)));
    }
    else
    {
         rentalCharges = rentalDays * Model.Car.DailyRent;
    }
    }
}
<style>
    .detail{
        display:flex;
        gap:0px;
    }
    .detail-last{
        display:flex;
        align-items: center;
        justify-content: flex-end;
        gap: 30px;
        margin-top: 30px;
    }

</style>

<h3> Order Details</h3>

<div>
    <hr />
    <dl class="row">
        <div class="col-sm-6">
        <div class="detail">

        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Car.Name) @Html.DisplayFor(model=>model.Car.Model)
        </dd>
        </div>
        <div class="detail">


        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Users.Name)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Users.Name)
        </dd>
        </div>
        <div class="detail">


        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        </div>
        <div class="detail">

        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
            </div>
        <div class="detail">


            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.Status)
            </dd>
        </div>

        <div class="detail">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model=>model.Users.Phone)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Users.Phone)
            </dd>
        </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <img src="~/images/@Model.Car.PhotoUrl" style="height:200px; width:400px; object-fit:cover" alt="...">

            </div>
            <br/>

            <div class="row">
                <img src="~/images/@Model.Users.DocumentUrl" style="height:200px; width:400px; object-fit:cover" alt="...">

            </div>
        </div>
        <div class="detail-last">
            <form  asp-controller="Sales" asp-action="Create" >
                <input type="hidden"  name="orderId" value="@Model.Id" />
                <input type="hidden"  name="CarId" value="@Model.Car.Id"/>
                <input type="hidden"  name="RentalDuration" value="@rentalDays" />
                
                    
                <input type="hidden"  name="RentalCharges" value="@rentalCharges" />
                
                <input type="hidden"  name="ApprovedBy" value="@UserManager.GetUserId(User)"/>
                <button type="submit" name="action" value="approve" class="btn btn-success">Approve</button>
            </form>
           
        </div>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
